<!doctype html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }} - ChenQi</title>
    {% feed_meta %}
    {% seo %}
    <meta name="og:type" content="website">
    <meta name="og:title" content="{{ page.title }}">
    <meta name="og:description" content="Blog posts, GitHub, and more.">
    <meta name="og:site_name" content="CQ备忘录">
    <meta name="og:url" content="{{ site.url }}">
    <meta name="og:image" content="{{ site.url }}/static/me.jpg">
  </head>
  <body>
    {% include navigation.html %}
    {{ content }}
  </body>
</html>